
.front {
  color: #F98948;
}

.back {
  color: #E9D758;
}

.left {
  color: #9BDEAC;
}

.right {
  color: #59A96A;
}

.top {
  color: #827191;
}

.bottom {
  color: #7D1D3F;
}


.start {
  color: #35A7FF;
}

.finish {
  color: #38618C;
}
